USE master
GO

--drop database if it exists
IF DB_ID('final_capstone') IS NOT NULL
BEGIN
	ALTER DATABASE final_capstone SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
	DROP DATABASE final_capstone;
END

CREATE DATABASE final_capstone
GO

USE final_capstone
GO

/****** Object:  Table [dbo].[devices]    Script Date: 8/4/2020 2:52:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/****** Object:  Table [dbo].[MachineCheckIns]    Script Date: 8/4/2020 2:52:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MachineCheckIns](
	[AuditLogId] [varchar](50) NULL,
	[PropertyName] [varchar](50) NULL,
	[LastCheckInTimeUtc] [varchar](50) NULL,
	[Serial] [varchar](50) NULL,
	[Name] [varchar](50) NULL,
	[MachineModelId] [varchar](50) NULL,
	[ArmAssistLeft] [varchar](50) NULL,
	[ArmAssistRight] [varchar](50) NULL,
	[ArmCartLeft] [varchar](50) NULL,
	[ArmCartRight] [varchar](50) NULL,
	[Total_PulleyDataLeftDistance] [varchar](50) NULL,
	[Total_PulleyDataRightDistance] [varchar](50) NULL,
	[BatteryLevel] [varchar](50) NULL
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[DeviceData](
	[Serial] [varchar](50) NOT NULL PRIMARY KEY,
	[LastMaintenanceDateTime] [varchar](50) NOT NULL,
	[Time_of_Maintenance_PulleyDataLeftDistance] [varchar](50) NULL,
	[Time_of_Maintenance_PulleyDataRightDistance] [varchar](50) NULL,
	)

/****** Object:  Table [dbo].[users]    Script Date: 8/4/2020 2:52:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password_hash] [varchar](200) NOT NULL,
	[salt] [varchar](200) NOT NULL,
	[user_role] [varchar](50) NOT NULL,
 CONSTRAINT [PK_user] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO



INSERT [dbo].[MachineCheckIns] ([AuditLogId], [PropertyName], [LastCheckInTimeUtc], [Serial], [Name], [MachineModelId], [ArmAssistLeft], [ArmAssistRight], [ArmCartLeft], [ArmCartRight], [Total_PulleyDataLeftDistance], [Total_PulleyDataRightDistance], [BatteryLevel]) VALUES (N'952598', N'LastCheckInTimeUtc', N'8/20/2020 23:18', N'IHM-S001-BBSZ-G4TN', N'IHM-S001-BBSZ-G4TN', N'2', N'26610',  N'23530',  N'41250',  N'42990',  N'705000',       N'693447.5',    N'5.50')
INSERT [dbo].[MachineCheckIns] ([AuditLogId], [PropertyName], [LastCheckInTimeUtc], [Serial], [Name], [MachineModelId], [ArmAssistLeft], [ArmAssistRight], [ArmCartLeft], [ArmCartRight], [Total_PulleyDataLeftDistance], [Total_PulleyDataRightDistance], [BatteryLevel]) VALUES (N'952597', N'LastCheckInTimeUtc', N'8/27/2019 23:17', N'IHM-S001-XAQX-V9LQ', N'Helga',              N'1', N'56500',  N'54670',  N'66900',  N'72120',  N'949253.25',    N'979778.5',    N'52.68')
INSERT [dbo].[MachineCheckIns] ([AuditLogId], [PropertyName], [LastCheckInTimeUtc], [Serial], [Name], [MachineModelId], [ArmAssistLeft], [ArmAssistRight], [ArmCartLeft], [ArmCartRight], [Total_PulleyDataLeftDistance], [Total_PulleyDataRightDistance], [BatteryLevel]) VALUES (N'952596', N'LastCheckInTimeUtc', N'8/27/2019 23:16', N'IHM-S001-X37G-WQMF', N'Kim',                N'1', N'20460',  N'19690',  N'31710',  N'33750',  N'436407.25',    N'476027',      N'75')

--Insert values into DeviceData table	

INSERT [dbo].[DeviceData] ([Serial], [LastMaintenanceDateTime], [Time_of_Maintenance_PulleyDataLeftDistance], [Time_of_Maintenance_PulleyDataRightDistance]) VALUES	(N'IHM-S001-BBSZ-G4TN', '', N'0', N'0')
INSERT [dbo].[DeviceData] ([Serial], [LastMaintenanceDateTime], [Time_of_Maintenance_PulleyDataLeftDistance], [Time_of_Maintenance_PulleyDataRightDistance]) VALUES	(N'IHM-S001-XAQX-V9LQ', '', N'0', N'0')
INSERT [dbo].[DeviceData] ([Serial], [LastMaintenanceDateTime], [Time_of_Maintenance_PulleyDataLeftDistance], [Time_of_Maintenance_PulleyDataRightDistance]) VALUES	(N'IHM-S001-X37G-WQMF', '', N'0', N'0')
	
																																																																																																																						    
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([user_id], [username], [password_hash], [salt], [user_role]) VALUES (1, N'user', N'Jg45HuwT7PZkfuKTz6IB90CtWY4=', N'LHxP4Xh7bN0=', N'user')
INSERT [dbo].[users] ([user_id], [username], [password_hash], [salt], [user_role]) VALUES (2, N'admin', N'YhyGVQ+Ch69n4JMBncM4lNF/i9s=', N'Ar/aB2thQTI=', N'admin')
SET IDENTITY_INSERT [dbo].[users] OFF
USE [final_capstone]
GO

ALTER TABLE [dbo].[MachineCheckIns] ADD FOREIGN KEY ([Serial]) REFERENCES [dbo].[DeviceData]([Serial]);

ALTER DATABASE [final_capstone] SET  READ_WRITE 
GO
