USE master
GO

--drop database if it exists
IF DB_ID('final_capstone') IS NOT NULL
BEGIN
	ALTER DATABASE final_capstone SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
	DROP DATABASE final_capstone;
END

CREATE DATABASE final_capstone
GO

USE final_capstone
GO

/****** Object:  Table [dbo].[devices]    Script Date: 8/4/2020 2:52:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[devices](
	[device_id] [int] IDENTITY(1,1) NOT NULL,
	[device_type] [varchar](50) NOT NULL,
	[firmware_version] [varchar](100) NOT NULL,
	[facility] [varchar](50) NOT NULL,
	[city] [varchar](10) NOT NULL,
	[state] [varchar](50) NOT NULL,
	[device_in_use] [bit] NOT NULL,
	[battery_status] [decimal](18, 0) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MachineCheckIns]    Script Date: 8/4/2020 2:52:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MachineCheckIns](
	[AuditLogId] [varchar](50) NULL,
	[PropertyName] [varchar](50) NULL,
	[LastCheckInTimeUtc] [varchar](50) NULL,
	[Serial] [varchar](50) NULL,
	[Name] [varchar](50) NULL,
	[MachineModelId] [varchar](50) NULL,
	[ArmAssistLeft] [varchar](50) NULL,
	[ArmAssistRight] [varchar](50) NULL,
	[ArmCartLeft] [varchar](50) NULL,
	[ArmCartRight] [varchar](50) NULL,
	[PulleyDataLeftDistanceCCW] [varchar](50) NULL,
	[PulleyDataLeftDistanceCW] [varchar](50) NULL,
	[PulleyDataRightDistanceCCW] [varchar](50) NULL,
	[PulleyDataRightDistanceCW] [varchar](50) NULL,
	[BatteryLevel] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 8/4/2020 2:52:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password_hash] [varchar](200) NOT NULL,
	[salt] [varchar](200) NOT NULL,
	[user_role] [varchar](50) NOT NULL,
 CONSTRAINT [PK_user] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[devices] ON 

INSERT [dbo].[devices] ([device_id], [device_type], [firmware_version], [facility], [city], [state], [device_in_use], [battery_status]) VALUES (1, N'Strength', N'xyzzy3000', N'NationWide Childrens Hospital', N'Columbus', N'OH', 0, CAST(25 AS Decimal(18, 0)))
INSERT [dbo].[devices] ([device_id], [device_type], [firmware_version], [facility], [city], [state], [device_in_use], [battery_status]) VALUES (2, N'Connect', N'ABC123', N'St. Marys', N'Columbus', N'OH', 0, CAST(42 AS Decimal(18, 0)))
INSERT [dbo].[devices] ([device_id], [device_type], [firmware_version], [facility], [city], [state], [device_in_use], [battery_status]) VALUES (3, N'Connect', N'ABC123', N'St. Annes', N'Columbus', N'OH', 0, CAST(88 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[devices] OFF
INSERT [dbo].[MachineCheckIns] ([AuditLogId], [PropertyName], [LastCheckInTimeUtc], [Serial], [Name], [MachineModelId], [ArmAssistLeft], [ArmAssistRight], [ArmCartLeft], [ArmCartRight], [PulleyDataLeftDistanceCCW], [PulleyDataLeftDistanceCW], [PulleyDataRightDistanceCCW], [PulleyDataRightDistanceCW], [BatteryLevel]) VALUES (N'952599', N'LastCheckInTimeUtc', N'8/27/2019 23:19', N'IHM-S001-DLTB-963H', N'Eleanor', N'1', N'58720', N'79870', N'65370', N'89520', N'1057790', N'1057790', N'1931421.5', N'1931421.5', N'94.94')
INSERT [dbo].[MachineCheckIns] ([AuditLogId], [PropertyName], [LastCheckInTimeUtc], [Serial], [Name], [MachineModelId], [ArmAssistLeft], [ArmAssistRight], [ArmCartLeft], [ArmCartRight], [PulleyDataLeftDistanceCCW], [PulleyDataLeftDistanceCW], [PulleyDataRightDistanceCCW], [PulleyDataRightDistanceCW], [BatteryLevel]) VALUES (N'952598', N'LastCheckInTimeUtc', N'8/27/2019 23:18', N'IHM-S001-BBSZ-G4TN', N'IHM-S001-BBSZ-G4TN', N'1', N'26610', N'23530', N'41250', N'42990', N'703700', N'703700', N'693447.5', N'693447.5', N'94.924')
INSERT [dbo].[MachineCheckIns] ([AuditLogId], [PropertyName], [LastCheckInTimeUtc], [Serial], [Name], [MachineModelId], [ArmAssistLeft], [ArmAssistRight], [ArmCartLeft], [ArmCartRight], [PulleyDataLeftDistanceCCW], [PulleyDataLeftDistanceCW], [PulleyDataRightDistanceCCW], [PulleyDataRightDistanceCW], [BatteryLevel]) VALUES (N'952597', N'LastCheckInTimeUtc', N'8/27/2019 23:17', N'IHM-S001-XAQX-V9LQ', N'Helga', N'1', N'55100', N'54670', N'66900', N'72120', N'949253.25', N'949253.25', N'979778.5', N'979778.5', N'94.902')
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([user_id], [username], [password_hash], [salt], [user_role]) VALUES (1, N'user', N'Jg45HuwT7PZkfuKTz6IB90CtWY4=', N'LHxP4Xh7bN0=', N'user')
INSERT [dbo].[users] ([user_id], [username], [password_hash], [salt], [user_role]) VALUES (2, N'admin', N'YhyGVQ+Ch69n4JMBncM4lNF/i9s=', N'Ar/aB2thQTI=', N'admin')
SET IDENTITY_INSERT [dbo].[users] OFF
USE [master]
GO
